doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Bicicletas
    link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') TOP
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='/') Volver
// Masthead
header.masthead
    .container.d-flex.h-100.align-items-center
        .mx-auto.text-center
            h1.mx-auto.my-0.text-uppercase ADMINISTRAR
            block content
                a(href='/bicicletas/create') 
                    button.btn.btn-primary.m-2 Agregar Bici
                table.table.table-dark.rounded
                    thead
                        tr#header
                            th(scope='col') #
                            th(scope='col') Color
                            th(scope='col') Modelo
                            th(scope='col') Ubicacion
                            th(scope='col') 
                            th(scope='col') 
                    tbody
                        each bici in bicis
                            tr
                                td(scope='row')
                                    = bici.id
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    form(method='post' action='/bicicletas/' + bici.id + '/delete')
                                        input(type='hidden' name='id' value='bici.id')
                                        input(type='submit' value='eliminar')
                                td
                                    a(href=`/bicicletas/update/${bici.id}`) 
                                        button="Modificar"

// Footer
footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Gazapus
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='js/scripts.js')
